@font-face {
  font-family: "PT Sans Regular";
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  line-height: 22px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PT Sans Regular";
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  line-height: 22px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "PT Sans Regular", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: auto;
}
@media (min-width:1200px) {
  body {
    width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
  }
}
h1 {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular";
}
h2 {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular";
}
h3 {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular";
}
p {
  margin: 0;
  padding: 0;
}
span {
  margin: 0;
  padding: 0;
}
img {
  padding: 0;
  max-width: 100%;
  margin: 0;
}
input {
  margin: 0;
  padding: 0;
}
.btn {
  text-align: center;
  padding: 20px 45px;
  min-height: 60px;
  box-sizing: border-box;
  display: block;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans Regular";
  font-size: 21px;
}
.hidden {
  display: none;
}
.form-main {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }
}
@media (min-width:1200px) {
  .form {
    padding: 0 120px;
    justify-content: space-between;
  }
}
.form-fieldset {
  padding: 10px 20px;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 17px;
}
.form-fieldset__legend {
  font-family: "PT Sans Regular";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 26px;
  text-transform: uppercase;
}
.form-fieldset__radio-label {
  font-size: 18px;
  font-family: "PT Sans Regular";
  font-weight: bold;
}
.form-fieldset__checkbox-label {
  font-size: 18px;
  font-family: "PT Sans Regular";
  font-weight: bold;
}
.form-fieldset__hidden-text {
  display: none;
}
.form-fieldset--introduction .text-label:not(:last-of-type) {
  margin-bottom: 20px;
}
.form-fieldset .hidden {
  display: inline;
}
.form-fieldset--impression {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.form-fieldset__warning {
  color: #ff5c5c;
  padding-left: 20px;
  display: block;
  margin: 10px 0;
  margin-bottom: 22px;
}
.form-fieldset--sights {
  min-height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3px;
}
.form-fieldset--sights .checkbox-label {
  display: block;
  margin-bottom: 9px;
}
.form-fieldset--sights .form-fieldset__legend {
  margin-bottom: 18px;
}
.form-fieldset--feedback {
  padding: 0 20px;
}
.form-fieldset--feedback .btn {
  width: 100%;
  margin-top: 15px;
  padding: 14px 45px;
  min-height: 55px;
  text-transform: uppercase;
}
.form-fieldset--emotions {
  padding-top: 18px;
}
@media (min-width: 768px) {
  .form-fieldset {
    border: none;
    padding: 0;
  }
  .form-fieldset__legend {
    font-size: 21px;
    margin-bottom: 38px;
    position: relative;
  }
  .form-fieldset__legend--introduction {
    padding-left: 20px;
    margin-bottom: 60px;
  }
  .form-fieldset__legend--impression {
    margin-bottom: 50px;
  }
  .form-fieldset__legend--contacts {
    margin-bottom: 31px;
  }
  .form-fieldset--impression {
    order: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 67px;
    border-right: 1px solid #f2f2f2;
  }
  .form-fieldset--introduction {
    order: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    box-sizing: border-box;
    margin-bottom: 67px;
  }
  .form-fieldset--introduction .hidden {
    display: none;
  }
  .form-fieldset--feedback {
    width: 100%;
    display: flex;
    order: 6;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 60px;
  }
  .form-fieldset--feedback .btn {
    width: 50%;
  }
  .form-fieldset--contacts {
    order: 3;
    width: 100%;
    margin-bottom: 54px;
  }
  .form-fieldset--contacts .hidden {
    display: inline;
  }
  .form-fieldset--sights {
    order: 4;
    width: 100%;
    min-height: 250px;
    -ms-grid-row-align: center;
        align-items: center;
    margin-bottom: 22px;
  }
  .form-fieldset--sights .form-fieldset__legend {
    margin-bottom: 6px;
    padding: 0 20%;
  }
  .form-fieldset--emotions {
    order: 5;
    width: 100%;
    margin-bottom: 38px;
  }
  .form-fieldset--emotions .form-fieldset__legend {
    margin-bottom: 62px;
  }
  .form-fieldset__legend--impression {
    text-align: left;
  }
  .form-fieldset__checkbox-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .form-fieldset__checkbox-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 223px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
  }
  .form-fieldset__checkbox-column--flex-start {
    -ms-grid-row-align: flex-start;
        align-items: flex-start;
    padding-left: 30px;
    box-sizing: border-box;
  }
  .form-fieldset__checkbox-column .checkbox-label:not(:last-child) {
    margin-bottom: 16px;
  }
  .form-fieldset__warning {
    display: none;
  }
  .form-fieldset__hidden-text {
    display: inline;
  }
}
.form-fieldset__legend--sights::before,
.form-fieldset__legend--contacts::before,
.form-fieldset__legend--emotions::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  position: absolute;
  left: 0;
  top: 50%;
}
.form-fieldset__legend-text-wrapper {
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media (min-width:1200px) {
  .form-fieldset--impression {
    order: 1;
    width: 482px;
    border-right: 1px solid #dbdbdb;
  }
  .form-fieldset--introduction {
    order: 2;
    width: 400px;
    padding-left: 0;
    margin-bottom: 63px;
  }
  .form-fieldset--introduction .form-fieldset__legend {
    padding-left: 0;
  }
  .form-fieldset--introduction .hidden {
    display: inline;
  }
  .form-fieldset--contacts {
    order: 3;
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 29px;
  }
  .form-fieldset--contacts .form-fieldset__legend {
    margin-bottom: 46px;
    text-align: center;
  }
  .form-fieldset--sights {
    order: 4;
    width: 960px;
    min-height: 150px;
    margin-bottom: 42px;
  }
  .form-fieldset--sights .form-fieldset__legend {
    padding: 0 30%;
    margin-bottom: 20px;
    text-align: center;
  }
  .form-fieldset--sights .checkbox-label {
    margin: 0;
  }
  .form-fieldset__legend--sights::before,
  .form-fieldset__legend--contacts::before,
  .form-fieldset__legend--emotions::before {
    content: "";
    width: 960px;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .form-fieldset--emotions {
    order: 5;
    width: 960px;
  }
  .form-fieldset__legend {
    position: relative;
  }
  .form-fieldset__legend--contacts {
    width: 960px;
  }
  .form-fieldset__legend--impression {
    padding-left: 80px;
  }
  .form-fieldset__legend--introduction {
    text-align: left;
  }
  .form-fieldset__legend-text-wrapper {
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .form-fieldset--feedback {
    width: 960px;
    margin-bottom: 66px;
  }
  .form-fieldset__warning {
    display: none;
  }
  .form-fieldset__checkbox-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .form-fieldset__checkbox-column {
    width: 480px;
    flex-direction: row;
    min-height: 100px;
    justify-content: space-around;
    flex-wrap: nowrap;
    -ms-grid-row-align: center;
        align-items: center;
  }
  .form-fieldset__checkbox-column .checkbox-label:not(:last-child) {
    margin-bottom: 0;
  }
  .form-fieldset__checkbox-column .checkbox-label {
    margin: 0;
  }
}
.text-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  width: 100%;
}
.text-label__warning {
  display: none;
  color: #ff5c5c;
}
.text-label__input {
  overflow: hidden;
  width: 100%;
  background-color: #eeeeee;
  padding: 16px;
  box-sizing: border-box;
  font-family: "PT Sans Regular";
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  min-height: 58px;
}
.text-label--textarea .text-label__input {
  width: 100%;
  resize: vertical;
  min-height: 160px;
  box-sizing: border-box;
}
.text-label__info {
  padding-right: 20px;
}
.text-label--tel,
.text-label--email {
  flex-wrap: wrap;
}
.text-label--tel::after,
.text-label--email::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/icon-phone.svg");
  background-position: center;
  background-size: 38%;
  background-color: #e6e6e6;
  width: 22%;
  height: 58px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.text-label--tel .text-label__info,
.text-label--email .text-label__info {
  padding-left: 20px;
  padding-bottom: 11px;
}
.text-label--email::after {
  background-image: url("../img/icon-mail.svg");
}
@media (min-width: 768px) {
  .text-label--tel::after,
  .text-label--email::after {
    width: 10%;
  }
  .text-label--tel::after {
    background-size: 34%;
    background-position: 61% 48%;
  }
  .text-label--email::after {
    background-position: 56% 49%;
    background-size: 30%;
  }
  .text-label--tel {
    margin-bottom: 24px;
  }
  .text-label--tel .text-label__info {
    padding-bottom: 10px;
  }
  .text-label__warning {
    display: inline;
    padding-bottom: 10px;
  }
  .text-label__info {
    padding-right: 36px;
  }
}
@media (min-width:1200px) {
  .text-label--tel,
  .text-label--email {
    width: 480px;
    flex-wrap: nowrap;
  }
  .text-label--tel .text-label__info,
  .text-label--email .text-label__info {
    padding-left: 0;
    padding-bottom: 0;
  }
  .text-label--tel::after,
  .text-label--email::after {
    width: 15%;
  }
  .text-label--email {
    -ms-grid-row-align: center;
        align-items: center;
    padding-top: 10px;
  }
  .text-label--email .text-label__info {
    width: 167px;
    display: flex;
    align-self: center;
  }
  .text-label--email .text-label__input {
    width: 316px;
  }
  .text-label--tel {
    width: 400px;
    flex-wrap: wrap;
  }
  .text-label--tel .hidden {
    display: none;
  }
  .text-label--tel .text-label__warning {
    width: 100%;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: none;
    margin-bottom: 0;
  }
  .text-label--tel .text-label__info {
    order: 2;
    width: 80px;
    padding-right: 0;
  }
  .text-label--tel .text-label__input {
    order: 3;
    width: 320px;
  }
  .text-label__info {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 18px;
  }
  .text-label__warning {
    display: inline;
  }
}
.checkbox-label,
.radio-label {
  position: relative;
}
.checkbox-label span,
.radio-label span {
  font-family: "PT Sans Regular";
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.radio-label__input {
  display: none;
}
.radio-label__name::before {
  content: "";
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 23px;
  margin-bottom: 13px;
}
.radio-label__name::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #000000;
  position: absolute;
  left: 5.6%;
  top: -28%;
  display: none;
}
.radio-label__input:checked + .radio-label__name::after {
  display: block;
}
@media (min-width: 768px) {
  .radio-label__name::before {
    width: 50px;
    height: 50px;
  }
  .radio-label__name::after {
    width: 20px;
    height: 20px;
    left: 6%;
    top: -12%;
  }
}
.checkbox-label__input {
  display: none;
}
.checkbox-label__name::before {
  content: "";
  width: 55px;
  height: 50px;
  display: inline-block;
  background-color: #f2f2f2;
  vertical-align: middle;
  margin-right: 23px;
  margin-bottom: 19px;
  border-radius: 3px;
}
.checkbox-label__name::after {
  content: "";
  position: absolute;
  left: 9.7%;
  top: -1%;
  width: 18px;
  height: 10px;
  background-color: #f2f2f2;
  border-bottom: 5px solid #000000;
  border-left: 5px solid #000000;
  transform: rotate(-45deg);
  display: none;
}
.checkbox-label__input:checked + .checkbox-label__name::after {
  display: block;
}
@media (min-width: 768px) {
  .checkbox-label {
    width: 70%;
  }
  .checkbox-label__name::after {
    left: 8%;
    top: -31%;
  }
}
.failure-popup {
  display: none;
}
@media (min-width:1200px) {
  .failure-popup {
    position: absolute;
    top: 141%;
    left: 35%;
    width: 400px;
    min-height: 340px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    text-transform: uppercase;
    display: none;
  }
  .failure-popup__title {
    font-weight: bold;
    font-size: 30px;
    width: 230px;
    text-align: center;
  }
  .failure-popup__text {
    font-size: 14px;
    width: 280px;
  }
  .failure-popup .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-height: 60px;
    width: 270px;
  }
}
.index-main {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .index-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width:1200px) {
  .index-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .section-wrapper {
    width: 100%;
    display: flex;
  }
}
@media (min-width:1200px) {
  .section-wrapper {
    display: flex;
  }
}
.five-reasons {
  min-height: 169px;
  text-align: center;
  color: #000000;
}
.five-reasons__picture {
  max-height: 260px;
  min-height: 260px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.five-reasons__image-wrapper {
  min-height: 260px;
  max-height: 260px;
  position: relative;
  width: 100%;
}
.five-reasons__blue-wrapper {
  background-color: #81b3d2;
  min-height: 191px;
  color: #ffffff;
}
.five-reasons__blue-wrapper .five-reasons__title {
  padding: 40px 0;
  padding-bottom: 10px;
}
.five-reasons--small {
  background-color: #eeeeee;
  padding: 0 20px;
}
.five-reasons--small:not(:first-of-type) .five-reasons__wrapper {
  border-top: 1px solid #d6d6d6;
}
.five-reasons--small .five-reasons__title {
  padding: 27px 0;
  padding-bottom: 10px;
}
.five-reasons__blue-wrapper--shaped {
  position: relative;
  min-height: 200px;
}
.five-reasons__blue-wrapper--shaped .five-reasons__title {
  padding: 48px 0;
  padding-bottom: 8px;
}
.five-reasons__blue-wrapper--shaped .five-reasons__text {
  padding: 0 30px;
  padding-bottom: 14px;
}
.five-reasons__blue-wrapper--shaped::before {
  content: "";
  min-height: 20px;
  width: 50%;
  background-color: #ffffff;
  transform: rotate(6deg);
  left: 0px;
  top: -82px;
  position: absolute;
}
.five-reasons__blue-wrapper--shaped::after {
  content: "";
  min-height: 20px;
  width: 50%;
  background-color: #ffffff;
  transform: rotate(6deg);
  left: 0px;
  top: -82px;
  position: absolute;
}
.five-reasons__title {
  font-size: 18px;
  line-height: 26px;
  padding: 30px 0;
  padding-bottom: 8px;
}
.five-reasons__text {
  font-size: 14px;
  display: block;
  padding: 0 30px;
  padding-bottom: 14px;
  line-height: 21px;
}
.five-reasons__list {
  padding: 37px 20px;
  padding-bottom: 18px;
  list-style-type: none;
  min-height: 392px;
  margin: 0;
  box-sizing: border-box;
}
.five-reasons__list-item {
  position: relative;
  padding-left: 50px;
  text-align: left;
  min-height: 120px;
  box-sizing: border-box;
}
.five-reasons__list-item h3 {
  margin-bottom: 18px;
  font-size: 18px;
}
.five-reasons__list-item p {
  font-size: 14px;
}
.five-reasons__list-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 43px;
  height: 45px;
  left: -5px;
  top: -17px;
  background-repeat: no-repeat;
  background-size: 90%;
}
.five-reasons__list-item--cottage::after {
  background-image: url("../img/icon-house.svg");
  left: 2px;
  top: -8px;
}
.five-reasons__list-item--souvenir {
  padding-top: 8px;
}
.five-reasons__list-item--souvenir::after {
  background-image: url("../img/icon-gift.svg");
  left: 4px;
  top: -4px;
  background-size: 80%;
}
.five-reasons__list-item--hamburger::after {
  background-image: url("../img/icon-burger.svg");
  left: -2px;
  top: -11px;
  background-size: 95%;
}
.five-reasons__list-item--souvenir h3 {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .five-reasons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 256px;
  }
  .five-reasons__wrapper {
    min-height: 200px;
  }
  .five-reasons--small {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .five-reasons--small .five-reasons__title {
    padding: 17px 30px;
    padding-bottom: 8px;
  }
  .five-reasons--small:not(:first-of-type) .five-reasons__wrapper {
    border-top: none;
  }
  .five-reasons--small .five-reasons__text {
    padding: 0px 6%;
    padding-bottom: 20px;
  }
  .five-reasons__image-wrapper {
    width: 67%;
    max-height: 256px;
    min-height: 256px;
  }
  .five-reasons__blue-wrapper {
    width: 33%;
    box-sizing: border-box;
    min-height: 256px;
    background-color: #81b3d2;
    max-height: 256px;
  }
  .five-reasons__blue-wrapper--left {
    order: -1;
  }
  .five-reasons__blue-wrapper--right {
    order: 1;
  }
  .five-reasons__blue-wrapper .five-reasons__title {
    padding: 42px 50px;
    padding-bottom: 11px;
  }
  .five-reasons__blue-wrapper .five-reasons__text {
    padding-bottom: 22px;
  }
  .five-reasons__picture {
    width: 100%;
    max-height: 256px;
    min-height: 256px;
  }
  .five-reasons__blue-wrapper--shaped::before {
    display: none;
  }
  .five-reasons__blue-wrapper--shaped .five-reasons__title {
    padding-bottom: 10px;
  }
  .five-reasons__title {
    font-size: 21px;
    padding: 48px 25px;
    padding-top: 48px;
  }
  .five-reasons__text {
    font-size: 14px;
    padding: 0 36px;
    padding-bottom: 17px;
  }
  .five-reasons__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    min-height: 330px;
    margin: 0px;
    padding: 0px;
  }
  .five-reasons__list-item {
    width: 33.3333%;
    min-height: 325px;
    padding: 0 50px;
    text-align: center;
  }
  .five-reasons__list-item::after {
    background-size: 100%;
    width: 77px;
    height: 81px;
    left: 42%;
    top: 34%;
  }
  .five-reasons__list-item h3 {
    padding-top: 151px;
    font-size: 21px;
  }
  .five-reasons__list-item p {
    padding: 11px 0;
  }
  .five-reasons__list-item--cottage {
    order: -3;
  }
  .five-reasons__list-item--cottage::after {
    left: 35%;
    top: 18%;
  }
  .five-reasons__list-item--souvenir {
    order: -1;
  }
  .five-reasons__list-item--souvenir::after {
    left: 37%;
    top: 16%;
    background-size: 85%;
  }
  .five-reasons__list-item--hamburger {
    order: -2;
  }
  .five-reasons__list-item--hamburger::after {
    left: 35%;
    top: 18%;
  }
}
@media (min-width:1200px) {
  .five-reasons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .five-reasons--small {
    width: 400px;
    display: block;
  }
  .five-reasons--small .five-reasons__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .five-reasons--small .five-reasons__title {
    padding: 48px 117px;
    padding-bottom: 5px;
  }
  .five-reasons__image-wrapper {
    width: 800px;
    min-height: 256px;
    max-height: 256px;
  }
  .five-reasons__blue-wrapper {
    width: 400px;
    background-color: #81b3d2;
    min-height: 256px;
  }
  .five-reasons__blue-wrapper--left {
    order: -1;
  }
  .five-reasons__blue-wrapper--right {
    order: 1;
  }
  .five-reasons__blue-wrapper .five-reasons__title {
    padding: 52px 100px;
    padding-bottom: 11px;
  }
  .five-reasons__blue-wrapper .five-reasons__text {
    padding-bottom: 22px;
  }
  .five-reasons__picture {
    width: 800px;
    min-height: 256px;
    max-height: 256px;
  }
  .five-reasons__title {
    font-size: 21px;
  }
  .five-reasons__text {
    font-size: 14px;
  }
  .five-reasons__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 333px;
  }
  .five-reasons__list-item {
    width: 400px;
    text-align: center;
    min-height: 325px;
  }
  .five-reasons__list-item h3 {
    padding-top: 158px;
  }
  .five-reasons__list-item::after {
    left: 46%;
  }
  .five-reasons__list-item--cottage {
    order: -3;
  }
  .five-reasons__list-item--cottage::after {
    left: 40%;
    top: 18%;
  }
  .five-reasons__list-item--souvenir {
    order: -1;
  }
  .five-reasons__list-item--souvenir::after {
    left: 42%;
    top: 18%;
  }
  .five-reasons__list-item--hamburger {
    order: -2;
  }
  .five-reasons__list-item--hamburger::after {
    left: 40%;
    top: 19%;
  }
}
.interested {
  text-align: center;
  padding: 0px 20px;
}
.interested__title {
  font-size: 21px;
  margin: 24px 0;
  margin-bottom: 19px;
}
.interested__text {
  display: block;
  margin-bottom: 33px;
  line-height: 24px;
}
.interested .btn {
  margin-bottom: 50px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 56px;
}
@media (min-width: 768px) {
  .interested {
    width: 100%;
    text-align: center;
    padding: 0 154px;
    min-height: 313px;
  }
  .interested__title {
    font-size: 30px;
    margin: 47px 0;
    margin-bottom: 23px;
  }
  .interested__text {
    font-size: 14px;
    margin-bottom: 43px;
    line-height: 24px;
  }
  .interested .btn {
    min-height: 58px;
    box-sizing: border-box;
    padding: 15px 55px;
    margin-bottom: 60px;
  }
}
@media (min-width:1200px) {
  .interested {
    width: 1200px;
    text-align: center;
    min-height: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .interested__title {
    margin: 50px 0;
    margin-bottom: 22px;
  }
  .interested__text {
    padding: 0 279px;
    margin-bottom: 24px;
  }
  .interested .btn {
    width: 460px;
  }
}
.map {
  min-height: 350px;
  background-image: url("../img/bg-map-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 350px;
}
@media (min-width: 768px) {
  .map {
    width: 100%;
    text-align: center;
    background-image: url("../img/bg-map-tablet.jpg");
    background-size: 100% 350px;
  }
}
@media (min-width:1200px) {
  .map {
    width: 1200px;
    text-align: center;
    background-color: #ffffff;
    background-image: url("../img/bg-map-desktop.jpg");
  }
}
.main-footer {
  min-height: 245px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}
.main-footer__hashteg-wrapper {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 17px;
}
.main-footer__hashteg {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.main-footer__logo {
  background-image: url("../img/logo-htmlacademy.svg");
  display: inline-block;
  min-height: 38px;
  width: 35px;
  margin-left: 22px;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.main-footer__developed-wrapper {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-footer__developed-by {
  margin-right: 5px;
  margin-top: 8px;
}
.main-footer--form {
  min-height: 262px;
  box-sizing: border-box;
  padding-top: 16px;
}
.main-footer--form .social-links {
  min-height: 68px;
}
.main-footer--form .main-footer__developed-by {
  padding-top: 10px;
}
.main-footer--photo .main-footer__developed-by {
  margin: 0;
}
@media (min-width: 768px) {
  .main-footer {
    text-align: center;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 60px;
  }
  .main-footer__hashteg-wrapper {
    width: 30%;
    min-height: 120px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
  }
  .main-footer__hashteg {
    display: flex;
  }
  .main-footer__developed-wrapper {
    width: 30%;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
  .main-footer__developed-by {
    font-size: 14px;
    margin: 0;
  }
  .main-footer__logo {
    margin-left: 0;
  }
  .main-footer--photo {
    min-height: 120px;
  }
  .main-footer--form {
    min-height: 120px;
  }
  .main-footer--form .main-footer__hashteg-wrapper {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
    justify-content: flex-start;
  }
  .main-footer--form .social-links {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
  }
  .main-footer--form .main-footer__developed-wrapper {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
    justify-content: flex-end;
  }
}
@media (min-width:1200px) {
  .main-footer {
    padding: 0;
    min-height: 120px;
    text-align: center;
    background-color: #ffffff;
    position: relative;
  }
  .main-footer__hashteg-wrapper {
    width: 400px;
    min-height: 120px;
    color: #000000;
    display: flex;
    justify-content: center;
  }
  .main-footer__hashteg {
    float: none;
  }
  .main-footer__developed-wrapper {
    width: 400px;
    min-height: 120px;
    display: flex;
    justify-content: flex-end;
  }
  .main-footer__developed-by {
    margin-right: 45px;
  }
  .main-footer--form {
    padding: 0 120px;
    padding-right: 0;
  }
  .main-footer--form .social-links {
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 46px;
  }
  .main-footer--form .main-footer__developed-by {
    margin-right: 35px;
  }
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}
.social-links__link {
  min-height: 48px;
  min-width: 46px;
  background-position: center;
  background-color: #81b3d2;
  margin-right: 6px;
  margin-bottom: 3px;
}
.social-links__link:last-child {
  margin-right: 0;
}
.social-links__link--tw {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
}
.social-links__link--fb {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
}
.social-links__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .social-links {
    min-height: 120px;
    padding: 0;
    width: 40%;
    display: flex;
    align-items: center;
  }
}
@media (min-width:1200px) {
  .social-links {
    width: 400px;
    min-height: 120px;
  }
}
.succes-popup {
  display: none;
}
@media (min-width:1200px) {
  .succes-popup {
    position: absolute;
    left: 39%;
    top: 5%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .succes-popup__text {
    font-size: 30px;
    font-weight: bold;
  }
}
.nav-block {
  font-size: 18px;
}
.nav-block__wrapper .nav-block__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}
.nav-block__wrapper .nav-block__item--academy {
  border-bottom: none;
}
.nav-block__items {
  background-color: #81b3d2;
  margin: 0px;
  padding: 0px;
}
.nav-block__item {
  position: relative;
  margin: 0;
  text-align: center;
  min-height: 55px;
}
.nav-block__item--cross::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  bottom: 30%;
  right: 6%;
}
.nav-block__item--cross::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  bottom: -371%;
  right: 7%;
  z-index: 10;
}
.nav-block__item--menu {
  background-color: #ffffff;
  border-top: none;
}
.nav-block__content {
  display: block;
  min-height: 55px;
  box-sizing: border-box;
  padding: 16px 0;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.nav-block--form::before,
.nav-block--photo::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/text-sedona.svg");
  background-repeat: no-repeat;
  width: 75%;
  background-size: 94%;
  min-height: 100px;
  top: 330px;
  left: 15%;
  z-index: 33;
}
.nav-block--index::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
  width: 87%;
  background-size: 100% 58%;
  min-height: 370px;
  top: 368px;
  left: 7%;
  z-index: 20;
}
@media (min-width: 768px) {
  .nav-block__items {
    width: 100%;
    list-style-type: none;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-block__wrapper {
    width: 40%;
    display: flex;
  }
  .nav-block__wrapper .nav-block__item {
    border: none;
  }
  .nav-block__item {
    font-size: 14px;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 55px;
    display: inline-block;
  }
  .nav-block__item--cross::after {
    display: none;
  }
  .nav-block__item--cross::before {
    display: none;
  }
  .nav-block__item--menu {
    display: none;
  }
  .nav-block__content {
    font-family: "PT Sans Regular";
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 20px;
  }
  .nav-block--form::before,
  .nav-block--photo::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/text-sedona.svg");
    background-repeat: no-repeat;
    width: 75%;
    background-size: 81%;
    min-height: 100px;
    top: 150px;
    left: 20%;
    z-index: 33;
  }
  .nav-block--index::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/text-sedona-index.svg");
    background-repeat: no-repeat;
    width: 61%;
    background-size: 100% 100%;
    min-height: 393px;
    top: 112px;
    left: 19.5%;
    z-index: 20;
  }
}
@media (min-width:1200px) {
  .nav-block--form::before,
  .nav-block--photo::before {
    background-size: 69%;
    left: 31%;
    width: 55%;
  }
  .nav-block__wrapper {
    width: 450px;
  }
  .nav-block--index::before {
    top: 109px;
  }
  .nav-block__items {
    text-align: left;
    list-style-type: none;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
  .nav-block__item {
    width: 200px;
    margin: 0;
    text-align: center;
  }
  .nav-block__item--small {
    width: 293px;
  }
  .nav-block__item--cross .nav-block__content {
    padding-right: 26px;
  }
  .nav-block__item--academy .nav-block__content {
    padding-left: 26px;
  }
  .nav-block--form .nav-block__item--left,
  .nav-block--photo .nav-block__item--left {
    display: flex;
    justify-content: flex-start;
  }
  .nav-block--form .nav-block__item--right,
  .nav-block--photo .nav-block__item--right {
    display: flex;
    justify-content: flex-end;
  }
  .nav-block__content {
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
}
.main-header {
  box-sizing: border-box;
  min-height: 900px;
  text-align: center;
  position: relative;
  padding-bottom: 33px;
  background-color: #ffffff;
  background-image: url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 48% 281px;
  background-size: 223% 390px;
  text-transform: uppercase;
}
.main-header--photo,
.main-header--form {
  min-height: 625px;
  padding-bottom: 27px;
}
.main-header--form,
.main-header--photo {
  background-size: 100% 156px;
  background-position: 50% 282px;
}
.main-header--form .main-header__text,
.main-header--photo .main-header__text {
  line-height: 24px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .main-header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.main-header__logo {
  position: absolute;
  top: 226px;
  left: 35%;
  background-image: url("../img/logo-sedona-mobile.svg");
  background-repeat: no-repeat;
  min-height: 97px;
  width: 45%;
}
.main-header__title {
  font-size: 18px;
  line-height: 26px;
  padding: 35px 29px;
  padding-top: 425px;
}
.main-header__title--form,
.main-header__title--photo {
  padding: 28px 29px;
  padding-top: 191px;
}
.main-header__title--photo {
  padding-top: 190px;
}
.main-header__title--photo .main-header__title {
  padding: 0 24px;
}
.main-header__title::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 27px;
  background-size: 100% 100%;
  top: 644px;
  left: 0%;
  z-index: 20;
}
.main-header__title--photo::before,
.main-header__title--form::before {
  width: 100%;
  min-height: 27px;
  background-size: 100% 100%;
  top: 411px;
  left: 0%;
  z-index: 33;
}
.main-header__title--form::before {
  top: 411px;
}
.main-header__text {
  font-size: 14px;
  padding: 0 34px;
}
.main-header__menu {
  display: flex;
  flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .main-header {
    min-height: 780px;
    padding-bottom: 54px;
    background-image: url("../img/bg-back-desktop.jpg");
    background-position: 50% 55px;
    background-size: 151% 520px;
  }
  .main-header__title {
    font-size: 21px;
    padding: 30px 160px;
    padding-top: 570px;
  }
  .main-header__title::before {
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    width: 100%;
    min-height: 57px;
    background-size: 100% 100%;
    top: 518px;
    left: 0;
    z-index: 20;
  }
  .main-header__title--form::before,
  .main-header__title--photo::before {
    top: 288px;
  }
  .main-header__logo {
    background-image: url("../img/logo-sedona-tablet.svg");
    left: 43.6%;
    top: 0;
    width: 15%;
  }
  .main-header__text {
    padding: 0 16%;
  }
  .main-header__menu {
    display: none;
  }
  .main-header--photo,
  .main-header--form {
    min-height: 596px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-position: 49% 55px;
    background-size: 100% 290px;
  }
  .main-header__title--photo,
  .main-header__title--form {
    font-size: 30px;
    padding: 37px 160px;
    padding-top: 364px;
  }
  .main-header__title--photo {
    padding: 32px 160px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .main-header {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}
@media (min-width:1200px) {
  .main-header {
    background-position: 50% 55px;
    background-size: 100% 520px;
  }
  .main-header__title {
    font-size: 30px;
    padding: 31px 375px;
    padding-top: 570px;
  }
  .main-header__title::before {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    top: 518px;
  }
  .main-header__logo {
    background-image: url("../img/logo-sedona-desktop.svg");
    left: 42.5%;
  }
  .main-header--photo,
  .main-header--form {
    min-height: 631px;
    background-size: 100% 300px;
  }
  .main-header--photo .main-header__title,
  .main-header--form .main-header__title {
    padding-top: 412px;
  }
  .main-header--photo .main-header__title::before,
  .main-header--form .main-header__title::before {
    top: 298px;
  }
  .main-header--photo {
    min-height: 644px;
  }
  .main-header--index {
    padding-bottom: 0;
    min-height: 778px;
  }
  .main-header--index .main-header__title {
    font-size: 21px;
  }
  .main-header__text {
    padding: 0 160px;
  }
}
.photo-main {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .photo-main {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width:1200px) {
  .photo-main {
    padding: 0;
  }
}
.photo-section {
  position: relative;
  padding: 24px 20px;
  padding-bottom: 0px;
  text-align: left;
  min-height: 415px;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
  -ms-grid-row-align: flex-start;
      align-items: flex-start;
}
.photo-section picture {
  max-height: 280px;
}
.photo-section__photo {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}
.photo-section__title-wrapper {
  margin-bottom: 11px;
}
.photo-section__title {
  font-size: 14px;
  padding-bottom: 3px;
  font-weight: bold;
  text-transform: uppercase;
}
.photo-section__author {
  font-size: 14px;
}
@media (min-width: 768px) {
  .photo-section {
    border: none;
    padding: 0;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 350px;
  }
  .photo-section picture {
    max-height: 400px;
  }
  .photo-section__photo {
    margin-bottom: 16px;
    max-height: 400px;
  }
  .photo-section__big-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 0;
    box-sizing: border-box;
  }
  .photo-section--big {
    width: 100%;
    min-height: 480px;
  }
  .photo-section--big .like-wrapper {
    justify-content: flex-end;
  }
  .photo-section--small {
    width: 50%;
    min-height: 348px;
  }
  .photo-section--small picture {
    max-height: 267px;
  }
}
@media (min-width:1200px) {
  .photo-section--big {
    width: 1200px;
    min-height: 400px;
  }
  .photo-section--small {
    width: 400px;
    float: left;
    min-height: 267px;
  }
  .photo-section__photo {
    width: 100%;
    margin-bottom: 0;
  }
  .photo-section__big-wrapper {
    -ms-grid-row-align: center;
        align-items: center;
    position: absolute;
    padding: 0 20px;
    min-height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}
.video-section {
  border-top: 1px solid #e5e5e5;
  min-height: 460px;
  text-align: center;
  margin-bottom: 40px;
  box-sizing: border-box;
  position: relative;
}
.video-section__title {
  display: block;
  margin: 34px 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.video-section__rewind-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 87%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  left: 6.5%;
  bottom: 15%;
}
.video-section__scale {
  width: 84%;
  min-height: 3px;
  background-color: #eeeeee;
  position: relative;
}
.video-section__current-point {
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 18px;
  left: 60px;
}
.video-section__controls {
  min-height: 65px;
  width: 87%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  position: absolute;
  left: 6.5%;
}
.video-section__replay {
  width: 50%;
  background-image: url("../img/icon-video-replay.svg");
  background-repeat: no-repeat;
  background-size: 13%;
  background-position: 19% 47%;
  min-height: 65px;
}
.video-section__sub-wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 65px;
}
.video-section__subtitles {
  width: 50%;
  background-image: url("../img/icon-video-subtitles.svg");
  background-repeat: no-repeat;
  background-size: 46%;
  background-position: 88% 50%;
  min-height: 65px;
}
.video-section__fullscreen {
  width: 50%;
  background-image: url("../img/icon-video-fullscreen.svg");
  background-repeat: no-repeat;
  background-size: 31%;
  background-position: 55% 50%;
  min-height: 65px;
}
.video-section__text {
  font-size: 14px;
  padding: 0 45px;
  padding-bottom: 26px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video-section {
    border-top: none;
    width: 100%;
    min-height: 680px;
    padding-top: 20px;
    margin-bottom: 35px;
  }
  .video-section__title {
    font-size: 30px;
    margin-bottom: 26px;
  }
  .video-section__text {
    padding: 0 20%;
    margin-bottom: 73px;
    line-height: 24px;
  }
  .video-section__controls {
    min-height: 91px;
    width: 100%;
    left: 0;
    bottom: 0.5%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .video-section__scale {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .video-section__replay {
    background-size: 4%;
    background-position: 7% 47%;
    background-image: url("../img/icon-video-replay-white.svg");
    width: 75%;
  }
  .video-section__sub-wrapper {
    width: 25%;
  }
  .video-section__subtitles {
    background-size: 41%;
    background-position: 79% 47%;
    background-image: url("../img/icon-video-subtitles-white.svg");
  }
  .video-section__fullscreen {
    background-size: 25%;
    background-position: 32% 48%;
    background-image: url("../img/icon-video-fullscreen-white.svg");
  }
  .video-section__rewind-wrapper {
    left: 7.5%;
    bottom: 3.5%;
    width: 73%;
    z-index: 10;
    background-color: transparent;
  }
  .video-section__current-point {
    left: 157px;
    background-color: #ffffff;
  }
}
@media (min-width:1200px) {
  .video-section {
    text-align: center;
    width: 800px;
    margin: 0px 200px;
  }
}
.like {
  background-image: url("../img/icon-like.svg");
  display: inline-block;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .like {
    background-position: 50% 0%;
  }
}
.like-wrapper__like-counter {
  font-weight: bold;
}
@media (min-width: 768px) {
  .like-wrapper {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
